<div class="media">
   <div class="media-body">
     <h4 class="media-heading">
       <%= link_to topic.name, topic %>
     </h4>
     <small>
       <%= @topic %> "Created at" <%= time_ago_in_words(topic.created_at) %> ago
     </small>
     <p><%= topic.description %></p>
   </div>
 </div>
